.product-details {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 8px 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-description {
    font-size: 16px;
    color: #666;
}

.button-add-to-cart {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.button-add-to-cart:hover {
    background-color: #45a049;
}